



.body{
	background:#333 !important;
	color:white;
}
.navbar{
	
	border-bottom: 2px solid #03a9f4;
	background: rgba(0, 0, 0, 0.88);
	
}
#home-section{
	background: url('../img/slider.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 700px;

}
.dark-overlay{
	background-color: rgba(0,0,0,0.6);
	min-height: 700px
}
.fas{
	padding: 5px;
	
	color:white;
	font-size: 30px;


}